html{
    scroll-behavior: smooth;
}
body {
    background-color: #dedede;
    padding: 5px;
    margin: 15px;
    font-size: 25px;
    font-family:Arial, sans-serif;
}

h1 {
    text-align: center;
    font-family:Arial, sans-serif;
    font-size: 1.95em;
}

h2{
    text-align:center;
  }

li{
    margin-top: 20px;
}

img{
    border: 5px solid blue;
    border-radius: 35px;
    width: 90%;
    object-fit: cover;
}

figure{
    text-align: center;
    padding: 2%;
    box-sizing: border-box;
    
}

.label{
    text-align: center;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
}

@media all and (min-width:772px){
    .grid{
    display: flex;
    flex-wrap: wrap;
    gap: 10%;
    }

    figure{
    width: 45%;
    margin: 0 0 4% 0;
    border-radius: 100%;
    overflow: hidden;
    }

    img{
        width: 100%;
        border-radius: 0;
    }

    figure:nth-child(6){
        width:100vw;
    }
}

@media all and (min-width:992px){
    .grid{
    display: flex;
    flex-wrap: wrap;
    gap: 10%;
    }

    figure{
    width: 45%;
    margin: 0 0 4% 0;
    border-radius:0;
    overflow: visible;
    }

    figure:nth-child(3n){
        width:100vw;
    }
}

@media (prefers-reduced-motion: reduce) {
  html{
    scroll-behavior: auto;
    }
}

@media (prefers-color-scheme: dark){
    figure{
        background-color: rgb(20, 17, 28);
        color: rgb(153, 107, 21);
        overflow: visible;
    }

    img{
        border-radius: 35px;
    }
}